.App {
  text-align: center;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  background-color: #ddd;
  padding: 20px 20px;
  border: 1px solid black;
}

#getMore {
  box-sizing: border-box;
  padding: 15px 25px;
  margin: 0 auto 20px auto;
  font-size: 24px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  transition-duration: .3s;
}

#getMore:focus {
  outline:0;

}

@media(min-width: 901px) {
  #getMore:hover {

    box-shadow: 2px 3px 13px 2px rgba(0,0,0,0.7);
    background-color: #000;
    color: white;
  }
}


@media(max-width: 900px) {
  #getMore:active {

    box-shadow: 2px 3px 13px 2px rgba(0,0,0,0.7);
    background-color: #000;
    color: white;
  }
}






