.articlesList {
  width: 80%;
  margin: 30px auto;
}

@media (max-width: 1200px) {
  .articlesList{
    width: 90%;
    margin: 15px auto;
  }
}

@media (max-width: 900px) {
  .articlesList{
    width: 100%;
    margin: 0 0 20px 0;
  }
}